<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRIPATH</title>
   
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">

        <!-- New Title Container for Backdrop -->
        <div class="title-container">
             <h1 class="main-title">AGRIPATH</h1>
        </div>
        <!-- End Title Container -->
         <div class="state-grid-container">

    <!-- Row 1 -->
    <a href="/Policies" class="state-button">
        <img src="/static/document.png" alt="Policies Icon">
        <span class="state-name">View Database</span>
    </a>
    <a href="/ai" class="state-button">
        <img src="/static/bot.png" alt="AI Bot Icon">
        <span class="state-name">AI Assistant</span>
    </a>
    <a href="/about" class="state-button">
        <img src="/static/info.png" alt="Info Icon">
        <span class="state-name">About Us</span>
    </a>

   </div> <!-- /state-grid-container -->

    <div class="state-grid-container">

    <!-- Row 2 -->
    <a href="/Fertilizer" class="state-button">
        <img src="/static/sack.png" alt="Fertilisers">
        <span class="state-name">Fertilizer Selector</span>
    </a>

</div>

        

    </div> <!-- /container -->

</body>
</html>